name: ci

on:
  push:
    branches: ["main", "wip"]
  pull_request:
    branches: ["main"]
  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always

jobs:
  build-linux:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: Swatinem/rust-cache@v2
      - run: cargo test
      - run: cargo fmt --all -- --check
      - run: cargo clippy --all-targets
      - run: cargo build
  build-windows:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v6
      - uses: Swatinem/rust-cache@v2
      - run: cargo test
        env:
          RUST_BACKTRACE: 1
