name: release

on:
  release:
    types: [published]
  workflow_dispatch:

jobs:
  wait:
    runs-on: ubuntu-latest
    steps:
      - name: Wait for checks to succeed
        uses: poseidon/wait-for-status-checks@v0.6.0
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          interval: 5

  dist:
    strategy:
      # don't cancel other jobs when one fails
      fail-fast: false
      matrix:
        include:
          - os: windows-latest
            target: x86_64-pc-windows-msvc
          - os: windows-latest
            target: aarch64-pc-windows-msvc
          - os: ubuntu-24.04
            target: x86_64-unknown-linux-gnu
          - os: ubuntu-24.04
            target: x86_64-unknown-linux-musl
          - os: ubuntu-24.04
            target: aarch64-unknown-linux-gnu
          - os: ubuntu-24.04
            target: aarch64-unknown-linux-musl
          - os: ubuntu-24.04
            target: arm-unknown-linux-gnueabihf
          - os: macos-latest
            target: x86_64-apple-darwin
          - os: macos-latest
            target: aarch64-apple-darwin

    name: dist (${{ matrix.target }})
    runs-on: ${{ matrix.os }}
    needs: wait

    steps:
      - uses: actions/checkout@v6
      # needed for arm targets
      - name: Install Rust
        uses: dtolnay/rust-toolchain@v1
        with:
          toolchain: stable
          target: ${{ matrix.target }}
      - uses: Swatinem/rust-cache@v2
      - name: Install GCC arm64 (linux)
        if: startsWith(matrix.target, 'aarch64-unknown-linux')
        run: sudo apt-get update && sudo apt-get install gcc-aarch64-linux-gnu
      - name: Install GCC armhf (linux)
        if: matrix.target == 'arm-unknown-linux-gnueabihf'
        run: sudo apt-get update && sudo apt-get install gcc-arm-linux-gnueabihf
      - run: cargo build --target ${{ matrix.target }} --release
      - name: Archive
        shell: bash
        run: |
          ver=${GITHUB_REF/refs\/*\//}
          archive="dist/pui-$ver-${{ matrix.target }}"
          mkdir -p dist

          if [ "${{ matrix.os }}" == "windows-latest" ]; then
            7z a "${archive}.zip" target/${{ matrix.target }}/release/pui.exe
          else
            tar czf "${archive}.tar.gz" -C target/${{ matrix.target }}/release pui
          fi

          ls -al dist/*
      - name: Upload artifacts
        uses: actions/upload-artifact@v6
        with:
          name: ${{ matrix.target }}
          path: dist
      - name: Start sshx session on failed manual run or retry
        if: ${{ failure() && (github.event_name == 'workflow_dispatch' || github.run_attempt > 1) }}
        run: curl -sSf https://sshx.io/get | sh && sshx

  publish:
    runs-on: ubuntu-latest
    needs: dist
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v6
      # download each artifact into its own self-named directory
      - uses: actions/download-artifact@v7
        with:
          path: dist
      - name: Inspect dist
        run: ls -al dist/*
      - name: Upload to GH release
        uses: softprops/action-gh-release@v2
        with:
          # unset the prerelease flag and make it the latest release
          prerelease: false
          make_latest: true
          files: dist/**/*
      - name: Start sshx session on failed manual run or retry
        if: ${{ failure() && (github.event_name == 'workflow_dispatch' || github.run_attempt > 1) }}
        run: curl -sSf https://sshx.io/get | sh && sshx
